path.py
prettytable 
Mako 
pyaml 
dateutils
sac
gtimer
pyprind
pyopengl
Lasagne @ https://github.com/Lasagne/Lasagne/archive/master.zip
Theano @ https://github.com/Theano/Theano/archive/master.zip
gym==0.9.6
mujoco-py
